<section class="sample-content">
  <article class="sample-column">
    <form class="input-group-form">
      <igx-input-group>
        <label igxLabel for="product">Find your passion</label>
        <input igxInput name="product" type="text" [igxAutocomplete]="productsPanel" [(ngModel)]="productSelected" (onItemSelected)='handleProductSelected($event)'/>
      </igx-input-group>
      <igx-drop-down #productsPanel maxHeight="300px">
        <igx-drop-down-item *ngFor="let product of products | simpleAutocompleteStartsWith:productSelected"
          [value]="product" routerLink="../{{this.data.getFilteredProductCategory(product)}}/{{product}}">
            {{product}}
        </igx-drop-down-item>
      </igx-drop-down>
    </form>
  </article>
</section>
