<div igxLayout>
  <div class="main" igxFlex igxLayout igxLayoutDir="columns">
    <igx-navbar title="Home" actionButtonIcon="arrow_back" (onAction)="router.navigateByUrl('')" >
      <span routerLink="" routerLinkActive="active" *ngIf="!router.url.endsWith('home' || '')">Home</span>
      <igx-buttongroup [multiSelection]="false" [values]="categories" [alignment]="alignment"
        (onSelect)="onCategorySelected($event)" (click)="onBtnGroupClick($event)">
      </igx-buttongroup>
      <app-login-bar></app-login-bar>
    </igx-navbar>
    <div class="content" igxFlex>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
