
.prod-details-wrap {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin: 50px 0px;
}

.prod-details-left {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

.prod-details-right {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

.prod-details-main {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.igx-input-group__label {
  position: relative;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

div.prod-details-main > label,
div.prod-details-main > span,
div.prod-details-main > igx-icon {
  margin: 10px 0px;
}

.shipping-wrap {
  text-align: center;
  color: #0375be;
}

.spec {
  color: #6bc1fa;
  text-transform: capitalize;
}

::ng-deep {
  .spec-item:nth-child(odd) > .igx-list__item-content {
        background-color: rgb(18, 72, 97);
  }
}
.spec-item-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0px 8px;
}

.tabs-wrap {
  height: 500px;
  overflow: auto;
}



//reviews
igx-icon {
  cursor: pointer;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  display: flex;
  flex: 1 0 240px;
  align-items: center;

  &__info {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 24px;
  }
}

.name {
  font-weight: 600;
}

.review {
  font-size: 0.875em;
  line-height: 1;
}
