<div class="prod-details-wrap">
  <div class='prod-details-left'>
    <img src='assets/home.jpg'>
  </div>
  <div class='prod-details-right'>
    <div class='prod-details-main'>
      <label igxLabel>Price: {{price | currency}} </label>
      <span igxButton="raised" igxButtonColor="pink" igxButtonBackground="#000" igxRipple="pink">Get me!</span>
      <span class="shipping-wrap">
        <igx-icon>airplanemode_active</igx-icon>
        <label>{{'Free shipping worldwide'}}</label>
      </span>
    </div>
  </div>
</div>
<div class='tabs-wrap'>
  <igx-tabs>
    <igx-tabs-group label="SPECS">
      <igx-list>
        <igx-list-item class="spec-item" *ngFor="let specName of specNames; let i = index">
          <div class="spec-item-inner">
            <span class="spec">{{specName}}{{':'}}</span>
            <span>{{specValues[i]}}</span>
          </div>
        </igx-list-item>
      </igx-list>
    </igx-tabs-group>
    <igx-tabs-group label="Reviews">
      <igx-list>
        <igx-list-item *ngFor="let review of reviews; let i = index">
            <div class="item-container">
                <div class="contact">
                    <igx-avatar [src]="review.photo" roundShape="true"></igx-avatar>
                    <div class="contact__info">
                        <span class="name">{{ review.name }}</span>
                        <span class="review">{{ review.review }}</span>
                    </div>
                </div>
                <igx-icon [color]="review.isFavorite ? 'orange' : 'lightgray'">star</igx-icon>
            </div>
        </igx-list-item>
      </igx-list>
    </igx-tabs-group>
  </igx-tabs>
</div>
